
.icon-aquatics:before { content: '\e800'; } /* '' */
.icon-cri-leaf:before { content: '\e801'; } /* '' */
.icon-spin:before { content: '\e802'; } /* '' */
.icon-group-fit:before { content: '\e803'; } /* '' */
.icon-mind-body:before { content: '\e804'; } /* '' */
.icon-mpr:before { content: '\e805'; } /* '' */
.icon-cri-logo:before { content: '\e806'; } /* '' */