@import "variables";

.page-on-left {
  pointer-events: none;
}

body {
  font-family: @font-family-sans-serif;
}
/*.active {
//  color: @green !important;
}*/

/* Change Status Bar background when panel is opened */
body.with-panel-left-cover{
  background-color: #333;
  opacity: .5;
  background: rgba(0,0,0,.5);
}

.list-block .item-title.label {
  flex-shrink: 0;
  width: 76% !important;
}

/**********************************************************
Left Menu
**********************************************************/
/*.panel-overlay {
  opacity: .5;
  background: rgba(0,0,0,.5);
}*/

.panel-left {
  //  background: #efeff4;
  background: #efeff4;
  border-right: 1px solid #efeff4;
}


.list-block .item-inner {
//  border-bottom: 1px solid #eee;
}

.list-block .item-title.label {
  width: 41%;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
}

label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
  border: none;
  background-color: @green;
}

/*label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox:after, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox:after {
  border: none;
  background: @green url(../img/i-form-checkbox-white.png) no-repeat center;
  -webkit-background-size: auto 9px;
  background-size: auto 9px;
}*/

li label {
  color: @grayDark;
}


li.filters {
  margin-bottom: 1px;
  //  letter-spacing: 1px;
  &.aquatics {
    border-left: 8px solid @aquatics !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @aquatics;
    }
  }
  &.club_sports {
    border-left: 8px solid @clubSports !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @clubSports;
    }
  }
  &.fitness {
    border-left: 8px solid @fitness !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @fitness;
    }
  }
  &.group_fitness {
    border-left: 8px solid @groupFit !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @groupFit;
    }
  }
  &.intramural_sports {
    border-left: 8px solid @intramurals !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @intramurals;
    }
  }
  &.southern_adventures {
    border-left: 8px solid @southernAdventures !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @southernAdventures;
    }
  }
  &.university_wellness {
    border-left: 8px solid @wellness !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @wellness;
    }
  }
  &.gsu_campusrec {
    border-left: 8px solid @rac !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @rac;
    }
  }
  &.ongoing_programs {
    border-left: 8px solid @wellness !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @wellness;
    }

  }
  &.golf {
    border-left: 8px solid @golfCourse !important;

    label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
      border: none;
      background-color: @golfCourse;
    }
  }
}

/**********************************************************
Footer
**********************************************************/


.tab-link {

  i {
    font-size: 25px;
    line-height: 30px;

  }

  &.active i.ion-ios7-home-outline:before {
    font-family: "Ionicons";;
    content: "\f32b";
  }

  &.active i.ion-ios7-paper-outline:before {
    font-family: "Ionicons";;
    content: "\f32f";
  }

  &.active i.ion-social-twitter-outline:before {
    font-family: "Ionicons";;
    content: "\f243";
  }

  &.active i.ion-ios7-time-outline:before {
    font-family: "Ionicons";;
    content: "\f292";
  }

}


.navbar-inner {

  .left {
    i {
      //      margin-right: 10px;
    }
  }
  i {
    font-size: 27px;
  }
}

.toolbar a.active {
  color: #64E6FF !important;
}

.navbar {
  background: @navbarBG;
  border-bottom: 0px;
}

.toolbar {
  background: @navbarBG;
}

.tabbar a {
  color: @white !important;
}
.navbar a.icon-only, .toolbar a.icon-only {

  color: @white;

}


/**********************************************************
Header
**********************************************************/
/* Default Status bar background */
.statusbar-overlay {
  background: @navbarBG;
  /* We can add transition for smooth color animation */
  -webkit-transition: 400ms;
  transition: 400ms;
}

/* Change Status bar background when panel opened */
body.with-panel-left-cover .statusbar-overlay {
  background: @grayLight;
}


.center.sliding {
  color: #0C6191;
}


.page-content {
  background: darken(@grayLight,5);
}

.loader {
  text-align: center;
  margin-top: 25px;
  span {
    height: 25px;
    width: 25px;
  }
}


.pull-to-refresh-layer {
  margin-top: -54px;
}

/**********************************************************
Facilities
**********************************************************/
#view-facilities {
  .list-block {
    margin: 15px 15px;
  }
}
.hours-block {

  background: @white;
  height: 150px;
  position: relative;
  background: url('../img/racnight.png');
  background-position:50% 50%;
  background-size:cover;
  padding: 20px;
  color: #fff;

  .button {
    border: 1px solid #3185E0;
    color: #FFFFFF;
    background: rgba(48, 111, 204, 0.49);
    &.active {
      background: #007aff;
      color: #fff;
    }
  }

}

.hours-toggle {
  margin-top: 125px;
}

#hours-status {
  font-family: "lato regular";
  font-size: 15px;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  padding: 4px 0;
  //  height: 50px;

  &.open {
    background: #4cd964;
  }

  &.closed {
    background: #ff3b30;
  }

}

.contact {
  i {
    font-size: 27px;
    color: @grayDark;
  }
}
/**********************************************************
Main Feeds
**********************************************************/



i.icon {
  vertical-align: top;
}
.views .event-feed, .view .gf-feed, #afui .test-feed, #afui .my-event-feed {
  ul {
    //    margin-left: 10px;
    //    margin-right: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    li {
      background: @white;

      //      border-bottom: 1px solid @grayLight;
      //      border: 1px solid #e9e9e9;
//      border-color: #e9e9e9;
//      border-left: 2px solid @green;

      //          border-top: 2px solid @blue;
      display: block;
      position: relative;
      margin: 10px;
      //          border-radius: 4px;
      -webkit-box-shadow: 0 0 3px rgba(0,0,0,.1);
      box-shadow: 0 0 3px rgba(0,0,0,.1);
      .event-picture {
        margin: -5px -15px 0px -20px;
        img {
          width: 100%;
          max-width: 100%;
        }

      }

      .event-header {
        //        background: #000000;
        margin: 5px 0px 5px 0px;
//        border-top: 1px solid @grayLight;
        border-bottom: 1px solid @grayLight;
        padding: 0 0 7px 0px;

        .subscribe {
          display: block;
          //          background: red;
          width: 60px;
          height: 37px;
          color: #A5A5A5;
          font-size: 21px;
          padding-right: 14px;
          top: 0px;
          right:0px;
          text-align: right;

          i.ion-ios7-bell-outline.alarm::before {
            font-family: "Ionicons";
            content: "\f159";
          }
        }

      }
      .event-footer {
        //        background: #000000;
        //        margin: 0px -20px 0px -10px;
        border-top: 1px solid #f3f3f3;

        padding: 0px 20px 10px 20px;
        //        border-top: 1px solid @grayLight;
        //        color: @grayDark;
        //        margin-top: 5px;
        i {
          font-size: 15px;
          margin-top: -4px;
          margin-right: 3px;

        }
      }
      p {
        font-size: 14px !important;
        color: @grayDarker !important;

      }

      .feed-content {
        padding: 0px 15px 5px 20px;

      }
      .event-title {
        font-family: "Lato Regular";
        //              font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
        //              font-family: 'Lato Light','Helvetica Neue', Helvetica, Arial, sans-serif;
        //        font-family: 'Source Sans Pro Light','Helvetica Neue', Helvetica, Arial, sans-serif;
        //      text-transform: uppercase;
        //        border-bottom: 1px solid @grayLight;
        padding-left: 20px;
        padding-right: 40px;
        line-height: 22px;
        //        padding-bottom: 5px;
        font-size: 18px;
        display: block;
        //        color: #979797;
        //        margin-bottom: 8px;
        h4 {
          margin: 5px 0;
        }
      }
      .event-time {
        font-family: "Lato Regular";
        position: absolute;
        right: 16px;
        bottom: 10px;
        //        float: right;
        width: 70px;
        margin-left: 20px;
        text-align: right;
        color: @lightGray;
      }

      .meta {

      }
      .date-time {
        font-family: "Lato Regular";
        color: @lightGray;
        padding-top: 7px;
      }
      .event-location{
        padding-right: 50px;
        i.icon {
          line-height: 12px !important;
          /* display: inline-block; */
          vertical-align: top;
          /* background-size: 100% auto; */
          background-position: center;
          background-repeat: no-repeat;
          font-style: normal;
          position: relative;
        }
      }


    }
  }

}

.subscribe {
  //          background: red;
  color: #A5A5A5 !important;
  font-size: 21px;
  i.ion-ios7-bell-outline.alarm::before {
    font-family: "Ionicons";
    content: "\f159";
  }
}

.facebook-card {



    .card-header {
    display: block;
    padding: 10px;
//      border-top: 2px solid @groupFit;
  }

  &.aquatics {
    border-top: 2px solid @aquatics;
    .avatar{
      background: @aquatics;
      background-image: url("../img/icons/icon_aquatics.png");
      background-size: 34px 34px;
    }
      .subscribe {
        color: @aquatics;
        i.ion-ios7-bell-outline.alarm::before {
          color: @aquatics;
        }
      }

  }
  &.club_sports {
    border-top: 2px solid @groupFit;
    .avatar{
      background: @groupFit;
      background-image: url("../img/icons/icon_club_sports.png");
      background-size: 34px 34px;
    }
      .subscribe {
        color: @groupFit;
        i.ion-ios7-bell-outline.alarm::before {
          color: @groupFit;
        }
      }

  }
  &.fitness {
    border-top: 2px solid @fitness;
    .avatar{
      background: @fitness;
      background-image: url("../img/icons/icon_fitness.png");
      background-size: 34px 34px;
    }
      .subscribe {
        color: @fitness;
        i.ion-ios7-bell-outline.alarm::before {
          color: @fitness;
        }
      }
  }
  &.golf {
    border-top: 2px solid @golfCourse;
    .avatar{
      background: @golfCourse;
      background-image: url("../img/icons/icon_golf.png");
      background-size: 34px 34px;
    }
      .subscribe {
        color: @golfCourse;
        i.ion-ios7-bell-outline.alarm::before {
          color: @golfCourse;
        }
      }
  }
  &.intramural_sports {
    border-top: 2px solid @intramurals;
    .avatar{
      background: @intramurals;
      background-image: url("../img/icons/icon_intramurals.png");
      background-size: 34px 34px;
    }
      .subscribe {
        color: @intramurals;
        i.ion-ios7-bell-outline.alarm::before {
          color: @intramurals;
        }
      }
  }
  &.southern_adventures {
    border-top: 2px solid @southernAdventures;
    .avatar{
      background: @southernAdventures;
      background-image: url("../img/icons/icon_southern_adventures.png");
      background-size: 34px 34px;
    }
      .subscribe {
        color: @southernAdventures;
        i.ion-ios7-bell-outline.alarm::before {
          color: @southernAdventures;
        }
      }
  }
  &.university_wellness {
    border-top: 2px solid @wellness;
    .avatar{
      background: @wellness;
      background-image: url("../img/icons/icon_wellness.png");
      background-size: 34px 34px;
    }
      .subscribe {
        color: @wellness;
        i.ion-ios7-bell-outline.alarm::before {
          color: @wellness;
        }
      }
  }
  &.gsu_campusrec {
    border-top: 2px solid @rac;
    .avatar{
      background: @rac;
      background-image: url("../img/icons/icon_rac.png");
      background-size: 34px 34px;
    }
      .subscribe {
        color: @rac;
        i.ion-ios7-bell-outline.alarm::before {
          color: @rac;
        }
      }
  }
  &.group_fitness {
    border-top: 2px solid @groupFit;
    .avatar{
      background: @groupFit;
      background-image: url("../img/icons/icon_group_fit.png");
      background-size: 34px 34px;
    }
      .subscribe {
        color: @groupFit;
        i.ion-ios7-bell-outline.alarm::before {
          color: @groupFit;
        }
      }
  }

    .avatar {
    float: left;
    overflow: hidden;
    border-radius: 2px;
    height: 34px;
    width: 34px;
    background-position: center;
  }
    .name {
    margin-left: 44px;
    font-size: 14px;
    font-weight: 500;
    font-family: "lato bold";
  }
    .card-date {
    margin-left: 44px;
    font-size: 13px;
      font-weight: 700;
//    color: #8e8e93;
  }
    .card-footer {
    background: #fafafa;
      font-family: "lato regular";

    }
    .card-footer a {
    color: #81848b;
    font-weight: 500;
    }
    .card-content img {
    display: block;
    width: 100%;
  }
    .card-content-inner {
      color: @grayDarker;
    padding: 0px 10px;
      p {
        padding: 0;
        margin-top: 0;
      }
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.date {
  background: inherit;
  min-height: 20px;
  font-family: "lato bold";
  padding: 12px 0;
  line-height: 19px;
  text-align: center;
  vertical-align: middle;
  color:#858585;
//  -webkit-box-shadow: 0 0 3px rgba(0,173,239,.1);
//  box-shadow: 0 0 3px rgba(0,173,239,.1);
  text-transform: uppercase;
  //  margin: 2px -10px 2px -10px;
  //    .border-top-radius(3px);
  //    border-bottom: 1px solid @green;
  //    margin-left: 4px;
  //    margin-right: 5px;
  &:first-child{
    margin-top: 0;
  }
}

ul.general-list {
  li {
    //  letter-spacing: 1px;
    &.aquatics {
      border-top: 4px solid @aquatics !important;
      .event-footer, .event-header {
        color: @aquatics;
      }
      .subscribe {
        position: absolute;
        color: @aquatics;
        i.ion-ios7-bell-outline.alarm::before {
          color: @aquatics;
        }
      }
    }
    &.club_sports {
      border-top: 4px solid @clubSports !important;
      .event-footer, .event-header {
        color: @clubSports;
      }
      .subscribe {
        position: absolute;
        color: @clubSports;
        i.ion-ios7-bell-outline.alarm::before {
          color: @clubSports;
        }
      }
    }
    &.fitness {
      border-top: 4px solid @fitness !important;
      .event-footer, .event-header {
        color: @fitness;
      }
      .subscribe {
        position: absolute;
        color: @fitness;
        i.ion-ios7-bell-outline.alarm::before {
          color: @fitness;
        }

      }
    }
    &.group_fitness {
      border-top: 4px solid @groupFit !important;
      .event-footer, .event-header {
        color: @groupFit;
      }
      .subscribe {
        position: absolute;
        color: @groupFit;
        i.ion-ios7-bell-outline.alarm::before {
          color: @groupFit;
        }
      }
    }
    &.intramural_sports {
      border-top: 4px solid @intramurals !important;
      .event-footer, .event-header {
        color: @intramurals;
      }
      .subscribe {
        position: absolute;
        color: @intramurals;
        i.ion-ios7-bell-outline.alarm::before {
          color: @intramurals;
        }
      }
    }
    &.southern_adventures {
      border-top: 4px solid @southernAdventures !important;
      .event-footer, .event-header {
        color: @southernAdventures;
      }
      .subscribe {
        position: absolute;
        color: @southernAdventures;

        i.ion-ios7-bell-outline.alarm::before {
          color: @southernAdventures;
        }
      }
    }
    &.university_wellness {
      border-top: 4px solid @wellness !important;
      .event-footer, .event-header {
        color: @wellness;
      }
      .subscribe {
        position: absolute;
        color: @wellness;
        i.ion-ios7-bell-outline.alarm::before {
          color: @wellness;
        }
      }
    }
    &.gsu_campusrec {
      border-top: 4px solid @rac !important;
      .event-footer, .event-header {
        color: @rac;
      }
      .subscribe {
        position: absolute;
        color: @rac;
        i.ion-ios7-bell-outline.alarm::before {
          color: @rac;
        }
      }
    }
    &.ongoing_programs {
      border-top: 4px solid @wellness !important;
      .event-footer, .event-header {
        color: @wellness;
      }
      .subscribe {
        position: absolute;
        color: @wellness;
        i.ion-ios7-bell-outline.alarm::before {
          color: @wellness;
        }
      }
    }
    &.golf {
      border-top: 4px solid @golfCourse !important;
      .event-footer, .event-header {
        color: @golfCourse;
      }
      .subscribe {
        position: absolute;
        color: @golfCourse;
        i.ion-ios7-bell-outline.alarm::before {
          color: @golfCourse;
        }
      }
    }
  }

}

/**********************************************************
Social Feed
**********************************************************/

.infinite-scroll-preloader {
  margin-top:50px;
  margin-bottom: 100px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}

//d
.side-icons {
  i {
    font-size: 30px;
  }
}


.social-feed {
  margin-top: 10px;

  ul {
    padding: 0px;
    margin: 0px;
    li {

      &:last-child {
//        margin-bottom:50px;
      }
    }
  }
}

.social {

  .post {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    .social-media {
      margin: -15px -15px 15px;
      img {
        width: 100%;
      }
    }
    .message {
      clear: both;
      padding: 0 0 10px 0;
      overflow: auto;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      max-width: 100%;
      margin: 0 !important;
      p {
        //        font-family: georgia, serif;
        font-size: 16px;
        line-height: 1.3;
        margin-bottom: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }

      a {
        color: @blue;
      }
    }
    .meta-author {
      line-height: 1;
      img {
        float: left;
        width: 28px;
        height: 28px;
        margin-right: 5px;
        border-radius: 4px;
      }
      strong {
        color: #333;
      }
      span {
        color: #999;
        font-size: 12px;
      }
    }
    .timestamp {
      float: left;
      margin-top: 10px;
      //      margin-left: 5px;
      color: #707070;
      font-size: 12px;
    }
    .post-actions {
      float: right;
      margin: 10px -10px 0 0;
      a[title=Reply] {
        i {
          -moz-transform: scaleX(-1);
          -o-transform: scaleX(-1);
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          filter: FlipH;
          -ms-filter: "FlipH";
        }
      }
      a {
        color: #999;
        padding: 10px;
      }
      a:hover {
        color: #333;
      }
    }
    .twitter-origin-badge {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      background: transparent 100% 0 no-repeat;
      background-size: 30px 30px;
      background-image: url('../img/twitter-icon.png');
    }
    .instagram-origin-badge {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      background: transparent 100% 0 no-repeat;
      background-size: 30px 30px;
      background-image: url('../img/insta-icon.png');
    }
  }
}
.post {
  color: @grayDarker;
  //  margin-bottom: 10px;
  overflow: hidden;
  background: #fff;
  a {
    text-decoration: none;
  }
  .event-description a {
    color: @blue !important;
  }
  h4 {
    margin-bottom: 9px;
    a {
      color: #333;
      text-decoration: none;
    }
  }
  img.image {
    max-width: 100%;
    margin-top: 9px;
  }
}

.loading {
  width: 200px;
  margin: 100px auto;
  text-align: center;
  font-size: 15px;
  color: #A0A0A0;

  i {
    margin-bottom: 10px;
  }
}

.error {
  width: 200px;
  margin: 100px auto;
  text-align: center;
  font-size: 15px;
  color: #A0A0A0;
}

.header-logo{
  float: right;
  color: @headerAccent;
  padding: 5px 6px;
  i {
    font-size: 30px;
  }
}
