@font-face {
  font-family: 'Lato Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/lato/Lato%20Light.woff') format('woff');
}
@font-face {
  font-family: 'Lato Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato/Lato%20Regular.woff') format('woff');
}
@font-face {
  font-family: 'Lato Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato/Lato%20Bold.woff') format('woff');
}

@font-family-sans-serif:  "Lato Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif-alt: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;

@header-font:       @font-family-sans-serif-alt;
/**********************************************************
Colors
**********************************************************/
@primary:   #002c5b;

@pink:      #CC3A83;     //Mind & Body Studio
@orange:    #F68A28;  //Multipurpose Room
@purple:    #652C90;  //Spinning Studio
@blue:      #00adef;    //Aquatics/Pool
@green:     #1CC269;    //Group Fitness Studio
@grayDark:  #808284;
@grayDarker:#161616;
@lightGray: #c0c0c0;
@grayLight: #f3f3f3;
@white:     #ffffff;

/**********************************************************
Locations
**********************************************************/

@golfCourse: #006738;     //Golf Course
@outdoor: #B3CB34;     //Outdoor Locations
@rac: @green;     //RAC specific facilities
@groupFit: #00adef;     //Group Fit Studio
//@groupFit: #fa573c;     //Group Fit Studio
@office: #2c3e50;     //Office or meeting locations
@fitness: #ffad46;     //Fitness locations
//@wellness: #7bd148;     //Wellness locations
@wellness: @pink;     //Wellness locations
@basketball: #ffad46;     //Basketball courts
@southernAdventures: #ac725e;     //Southern Adventures
@aquatics: #00adef;     //Aquatics
@athleticTraining: #fff100;     //Athletic training
@clubSports: #4986e7;     //Athletic training
@intramurals: #6c54ae;     //Athletic training

/**********************************************************
Calendars
**********************************************************/
//#fff100

@headerBG:@grayDarker; /* also used for menu list divider, popup and action sheet */
@headerColor:@white;
@headerAccent: @green;

@navbarBG: #0F4A89;
//@navbarBG: #1A497C;
@navbarColor:@grayDark;

@footerBG: @grayDarker;
@footerColor: @white;

@bodyBG: @grayLight;
@bodyColor: @primary;

@menuBG:@grayDarker;
@menuColor:#8E968F;

@sideMenuBG: @green;

@listHeading: #234E7C;

.feed-icon {
  &.aquatics {
    background-color: @aquatics;
  }
  &.club_sports {
    background-color: @southernAdventures;
  }
  &.fitness {
    background-color: @groupFit;
  }
  &.group_fitness {
    background-color: @green;
  }
  &.intramural_sports {
    background-color: @basketball;
  }
  &.southern_adventures {
    background-color: @golfCourse;
  }
  &.university_wellness {
    background-color: @outdoor;
  }
  &.gsu_campusrec {
    background-color: @rac;
  }
  &.ongoing_programs {
    background-color: @wellness;
  }
}

span  {
//  letter-spacing: 1px;
  &.aquatics {
    color: @aquatics;
  }
  &.club_sports {
    color: @clubSports;
  }
  &.fitness {
    color: @fitness;
  }
  &.group_fitness {
    color: @groupFit;
  }
  &.intramural_sports {
    color: @intramurals;
  }
  &.southern_adventures {
    color: @southernAdventures;
  }
  &.university_wellness {
    color: @wellness;
  }
  &.gsu_campusrec {
    color: @rac;
  }
  &.ongoing_programs {
    color: @wellness;
  }
}

.aquatics {
  color: @aquatics;
}
.club_sports {
  color: @clubSports;
}
.fitness {
  color: @fitness;
}
.group_fitness {
  color: @groupFit;
}
.intramural_sports {
  color: @intramurals;
}
.southern_adventures {
  color: @southernAdventures;
}
.university_wellness {
  color: @wellness;
}
.gsu_campusrec {
  color: @rac;
}
.ongoing_programs {
  color: @wellness;
}
.golf {
  color: @golfCourse;
}
/**********************************************************
Bootstrap Styles
**********************************************************/

.btn {

  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  &:hover,
  &:focus,
  &.focus {
    color: #333;
    text-decoration: none;
  }


}


.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

//
// Button groups
// --------------------------------------------------

// Make the div behave like a button
.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle; // match .btn alignment given font-size hack above
  > .btn {
    position: relative;
    float: left;
    // Bring the "active" button to the front
    &:hover,
    &:focus,
    &:active,
    &.active {
      z-index: 2;
    }
    &:focus {
      // Remove focus outline when dropdown JS adds it after closing the menu
      outline: 0;
    }
  }
}

// Prevent double borders when buttons are next to each other
.btn-group {
  .btn + .btn,
  .btn + .btn-group,
  .btn-group + .btn,
  .btn-group + .btn-group {
    margin-left: -1px;
  }
}

// Justified button groups
// ----------------------

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  > .btn,
  > .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
  }
  > .btn-group .btn {
    width: 100%;
  }
}


// Single side border-radius

.border-top-radius(@radius) {
  border-top-right-radius: @radius;
  border-top-left-radius: @radius;
}
.border-right-radius(@radius) {
  border-bottom-right-radius: @radius;
  border-top-right-radius: @radius;
}
.border-bottom-radius(@radius) {
  border-bottom-right-radius: @radius;
  border-bottom-left-radius: @radius;
}
.border-left-radius(@radius) {
  border-bottom-left-radius: @radius;
  border-top-left-radius: @radius;
}



