<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <!--<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <!-- Your app title -->
    <title>CRI Mobile</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="css/framework7.min.css">
    <link rel="stylesheet" href="css/ionicons.css">
    <link rel="stylesheet" type="text/css" href="css/fontello/fontello.css" />
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="css/custom.css">

    <script type="text/javascript" src="cordova.js"></script>
    <!--<script type="text/javascript" src="phonegap.js"></script>-->
    <script src="GAPlugin.js"></script>
    <script type="text/javascript" charset="utf-8" src="PushNotification.js"></script>

    <!--<script type="text/javascript" charset="utf-8" src="js/apigee.min.js"></script>-->

    <!--<script type="text/javascript" charset="utf-8" src="js/fastclick.js"></script>-->


    <script id="eventTemplate" type="text/template7">

        {{#each this}}
        <div class="card facebook-card {{eventCal}}">
            <div class="card-header no-border">
                <div class="avatar {{eventCal}}"></div>
                <div class="name {{eventCal}}">{{eventTitle}}</div>
                <div class="card-date">{{eventDate}} at {{eventTime}}</div>
            </div>
            <div class="card-content">
                {{#if pictureLink}}
                <div class="event-picture"><img src="{{pictureLink}}" /></div>
                {{/if}}

                <div class="card-content-inner">
                    {{#if eventDescription}}
                    <span class="event-description"><p>{{eventDescription}}</p></span>
                    {{/if}}
                </div>
            </div>

            <div id="{{id}}" data-name="{{eventTitle}}" data-time="{{timeString}}" class="card-footer no-border">
                {{#if eventLocation}}
                <span class="event-location"><i class="icon ion-ios7-location link"> </i> {{eventLocation}}</span>
                {{else}}
                <span class="link"></span>
                {{/if}}
                <a class="subscribe link"><i class="icon ion-ios7-bell-outline {{#if isSaved}}alarm{{/if}}"></i></a>
            </div>
        </div>
        {{/each}}


        <!--<ul class="general-list list">
        {{#each this}}
        <li class="{{eventCal}}" id="{{id}}" data-name="{{eventTitle}}" data-time="{{timeString}}">

        <div class="event-header">
        <span class="event-title {{eventCal}}">{{eventTitle}}</span>
        <span class="subscribe"><i class="icon ion-ios7-bell-outline {{#if isSaved}}alarm{{/if}}"></i></span>
        </div>

        <div class="feed-content">
        {{#if pictureLink}}
        <div class="event-picture"><img src="{{pictureLink}}" /></div>
        {{/if}}

        {{#if eventDescription}}
        <span class="event-description"><p>{{eventDescription}}</p></span>
        {{/if}}

        {{#if eventLocation}}
        <span class="event-location"><i class="icon ion-ios7-location"> </i> {{eventLocation}}</span>
        {{/if}}
        </div>

        <div class="event-footer">

        <div class="date-time">
        {{eventDay}}
        <div class="event-time"> {{eventTime}}</div><br />
        </div>
        &lt;!&ndash;<span class="event-date"> {{eventDate}}</span>&ndash;&gt;
        </div>

        </li>
        {{/each}}
        </ul>-->
    </script>

    <script id="socialTemplate" type="text/template7">
        {{#each this}}
        <li class="social" >
        <div class="post">

        {{#if instagram}}
        {{#if media}}
        <div class="social-media">
        <img src='{{media}}' />
        </div>
        {{/if}}
            {{/if}}

                {{#if twitter}}
                    {{#if media}}
                    <div class="social-media">
                    <img src='{{media}}:medium' />
                    </div>
                    {{/if}}
                        {{/if}}

                        <div class="meta-author">
                        <img src="{{imageUrl}}" class="" alt="">

                        {{#if instagram}}
                        <a href="http://instagram.com/{{screen_name}}"><strong>{{name}}</strong><br>
                    <span>@{{screen_name}}</span></a>
                    {{/if}}

                        {{#if twitter}}
                        <a href="http://twitter.com/{{screen_name}}"><strong>{{name}}</strong><br>
                    <span>@{{screen_name}}</span></a>
                    {{/if}}

                    </div>

                    <div class="message">
                    <p>
                    {{text}}
                </p>
                </div>

                <span class="timestamp">{{created_at}}</span>
            {{#if instagram}}
            <span class="instagram-origin-badge"></span>
            {{/if}}
                {{#if twitter}}
                <span class="twitter-origin-badge"></span>
                {{/if}}
                </div>
                </li>
                {{/each}}
    </script>

</head>
<body >
<!-- First, we need to add Panel's overlay that will overlays app while panel is opened -->
<div class="panel-overlay"></div>


<!-- Left panel -->
<div class="panel panel-left panel-reveal">

    <form id="defaults" class="list-block">

        <div class="content-block-title">Default Calendars</div>
        <ul>
            <li class="filters gsu_campusrec">
                <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input class="eFilter"  type="checkbox" name="gsu_campusrec" value="gsu_campusrec">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">General CRI</div>
                    </div>
                </label>
            </li>

            <li class="filters aquatics">
                <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input class="eFilter" type="checkbox" name="aquatics" value="aquatics">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">Aquatics</div>
                    </div>
                </label>
            </li>

            <li class="filters club_sports">
                <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input class="eFilter"  type="checkbox" name="club_sports" value="club_sports">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">Club Sports</div>
                    </div>
                </label>
            </li>

            <li class="filters fitness">
                <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input class="eFilter"  type="checkbox" name="fitness" value="fitness">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">Fitness</div>
                    </div>
                </label>
            </li>
            <li class="filters golf">
                <label class="label-checkbox item-content eFilter">
                    <input class=""  type="checkbox" name="golf" value="golf">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">Golf</div>
                    </div>
                </label>
            </li>
            <li class="filters intramural_sports">
                <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input class="eFilter"  type="checkbox" name="intramural_sports" value="intramural_sports">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">Intramurals</div>
                    </div>
                </label>
            </li>
<!--
            <li class="filters shooting_sports_edu">
                <label class="label-checkbox item-content">
                    <!-- Checked by default -->
<!--
                    <input class="eFilter"  type="checkbox" name="shooting_sports_edu" value="shooting_sports_edu">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">Shooting Sports Edu.</div>
                    </div>
                </label>
            </li>
-->
            <li class="filters southern_adventures">
                <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input class="eFilter"  type="checkbox" name="southern_adventures" value="southern_adventures">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">Southern Adventures</div>
                    </div>
                </label>
            </li>
            <li class="filters university_wellness">
                <label class="label-checkbox item-content">
                    <!-- Checked by default -->
                    <input class="eFilter"  type="checkbox" name="university_wellness" value="university_wellness">
                    <div class="item-media">
                        <i class="icon icon-form-checkbox"></i>
                    </div>
                    <div class="item-inner">
                        <div class="item-title">Wellness</div>
                    </div>
                </label>
            </li>

            </ul>

    </form>

    <div class="list-block">
        <div class="content-block-title">Settings</div>
        <ul>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Reminders</div>
                        <div class="item-input">
                            <label class="label-switch">
                                <input class="reminder-switch" type="checkbox" checked="true">
                                <div class="checkbox"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title label">Push Notifications</div>
                        <div class="item-input">
                            <label class="label-switch push-switch">
                                <input class="push-switch" type="checkbox" checked="checked">
                                <div class="checkbox"></div>
                            </label>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>

<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>

<!-- Views -->
<div class="views tabs toolbar-through">
    <!-- Your main view, should have "view-main" class -->
    <div id="view-main" class="view view-main tab active">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                <div class="left sliding">
                    <a href="#" class="icon-only">
                        <i class="icon-cri-leaf menu-leaf"></i>
                        Campus Rec & Intramurals
                    </a>
                </div>

                <!--<div class="center sliding">CRI Mobile</div>-->
                <div class="right">
                    <a href="#" class="open-panel link icon-only">
                        <i class="icon icon-bars theme-white"></i>

                    </a>
                </div>
            </div>
        </div>

        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, "data-page" contains page name -->
            <div data-page="main" class="page">
                <!-- Scrollable page content -->

                <div class="page-content event-feed infinite-scroll" data-distance="200">

                </div>

            </div>
        </div>

    </div>

    <div id="view-gf" class="view tab">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                <div class="left sliding">
                    <a href="#" class=" icon-only">
                        <i class="icon-cri-leaf menu-leaf"></i>
                        Group Fitness
                    </a>
                </div>

                <!--<div class="center sliding">CRI Mobile</div>-->
                <div class="right">
                    <a href="#" class="open-panel link icon-only">
                        <i class="icon icon-bars theme-white"></i>

                    </a>
                </div>
            </div>
        </div>
        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, "data-page" contains page name -->
            <div data-page="gf" class="page">
                <!-- Scrollable page content -->
                <div class="page-content gf-feed">

                    <div class="col-25 loader">
                        Loading...<br><br>
                        <span class="preloader"></span>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div id="view-social" class="view tab">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                <div class="left sliding">
                    <a href="#" class="icon-only">
                        <i class="icon-cri-leaf menu-leaf"></i>

                        Social Feed
                    </a>
                </div>

                <!--<div class="center sliding">CRI Mobile</div>-->
                <div class="right">
                    <a href="#" class="open-panel link icon-only">
                        <i class="icon icon-bars theme-white"></i>

                    </a>
                </div>
            </div>
        </div>
        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, "data-page" contains page name -->
            <div data-page="social" class="page">
                <!-- Scrollable page content -->
                <div class="page-content social-feed infinite-scroll" data-distance="100">

<!--                    <div class="pull-to-refresh-layer">
                        &lt;!&ndash;<div class="preloader"></div>&ndash;&gt;
                        <div class="pull-to-refresh-arrow"></div>
                    </div>-->
                    <ul class="social-list" data-socialPage="1">

                    </ul>

                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="view-facilities" class="view tab">
        <!-- Top Navbar-->
        <div class="navbar">
            <div class="navbar-inner">
                <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                <div class="left sliding">
                    <a href="#" class="icon-only">
                        <i class="icon-cri-leaf menu-leaf"></i>
                        Facilities
                    </a>
                </div>

                <!--<div class="center sliding">CRI Mobile</div>-->
                <div class="right">
                    <a href="#" class="open-panel link icon-only">
                        <i class="icon icon-bars theme-white"></i>

                    </a>
                </div>
            </div>
        </div>
        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages navbar-through toolbar-through">
            <!-- Page, "data-page" contains page name -->
            <div data-page="facilities" class="page">
                <!-- Scrollable page content -->
                <div class="page-content">

                    <div id="hours-status">

                    </div>

                <div class="hours-block">
                    <!-- Buttons row as tabs controller -->

                    <div class="hours-toggle">
                        <div class="buttons-row">
                            <!-- Link to 1st tab, active -->
                            <a href="#winter" class="tab-link active button">Fall Hours</a>
                            <!-- Link to 2nd tab -->
                            <a href="#spring" class="tab-link button">Special Days</a>
                            <!-- Link to 3rd tab -->
                            <a href="#contact" class="tab-link button">Contact</a>
                        </div>
                    </div>

                </div>
                <!-- Tabs, tabs wrapper -->
                <div class="tabs">
                    <!-- Tab 1, active by default -->
                    <div id="winter" class="tab active">

                        <div>
<span style="display:none; margin:10px auto; text-align: center; width: 50%; text-transform: uppercase; color:#6d6d72">January 9 - March 11</span>
                            <!--div class="content-block-title">Winter Regular Hours: Jan 9 - Mar 11</div>-->

                            <div class="list-block inset">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Mon - Thu</div>
                                            <div class="item-after">6:00am - 11:00pm</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Friday</div>
                                            <div class="item-after">6:00am - 9:00pm</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Saturday</div>
                                            <div class="item-after">8:00am - 7:00pm</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Sunday</div>
                                            <div class="item-after">11:00am - 11:00am</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <!-- Tab 2 -->
                    <div id="spring" class="tab">
                        <div>
<span style="display:none; margin:10px auto; text-align: center; width: 50%; text-transform: uppercase; color:#6d6d72">March 20 - May 6</span>
                            <!-- <div class="content-block-title">Spring Regular Hours: Mar 20 - May 6</div> -->

                            <div class="list-block inset">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Football Games</div>
                                            <div class="item-after">Closes at Kickoff</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Labor Day</div>
                                            <div class="item-after">Sept. 5</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Thanksgiving Break</div>
                                            <div class="item-after">Nov. 19 - 26</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Winter Break</div>
                                            <div class="item-after">Dec. 10 - Jan. 6</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Holiday Break</div>
                                            <div class="item-after">Dec. 17 - 25</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">New Year's Break</div>
                                            <div class="item-after">Dec. 31 - Jan. 1</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>



                    <!-- Tab 3 -->
                    <div id="contact" class="tab">
                        <div>
                            <!--<div class="content-block-title">Contact CRI</div>-->
                            <div class="list-block inset contact">
                                <ul>
                                    <li>
                                        <a href="tel:912-478-5436" class=" item-content external" onclick="mainLineEvent()">
                                            <div class="item-media"><i class="icon ion-ios7-telephone-outline"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title">(912) 478-5436</div>
                                                <div class="item-after">Main Line</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:912-478-7227" class="item-content external" onclick="SAEvent()">
                                            <div class="item-media"><i class="icon ion-ios7-telephone-outline"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title">(912) 478-7227</div>
                                                <div class="item-after">SA</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:912-478-4653" class="item-content external" onclick="golfEvent()">
                                            <div class="item-media"><i class="icon ion-ios7-telephone-outline"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title">(912) 478-4653</div>
                                                <div class="item-after">Golf</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:912-478-7732" class="item-content external" onclick="ssecEvent()">
                                            <div class="item-media"><i class="icon ion-ios7-telephone-outline"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title">(912) 478-7732</div>
                                                <div class="item-after">SSEC</div>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="tel:912-478-1898" class="item-content external" onclick="weatherEvent()">
                                            <div class="item-media"><i class="icon ion-ios7-telephone-outline"></i></div>
                                            <div class="item-inner">
                                                <div class="item-title">(912) 478-1898</div>
                                                <div class="item-after">RAC Weather</div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>


                </div>
            </div>
        </div>

    </div>

    <!-- Bottom Toolbar-->
    <div class="toolbar tabbar tabbar-labels">
        <div class="toolbar-inner">
            <a href="#view-main" class="tab-link active" onclick="homeEvent()">
                <i class="icon ion-ios7-home"></i>
                <span class="tabbar-label">Home</span>
            </a>
            <a href="#view-gf" class="tab-link" onclick="gfEvent()">
                <i class="icon icon-group-fit"></i>
                <span class="tabbar-label">Group Fit</span>
            </a>
            <a href="#view-social" class="tab-link" onclick="socialEvent()">
                <i class="icon ion-social-twitter"></i>
                <span class="tabbar-label">Social</span>
            </a>
            <a href="#view-facilities" class="tab-link" onclick="facilityEvent()">
                <i class="icon ion-ios7-time"></i>
                <span class="tabbar-label">Facilities</span>
            </a>
        </div>
    </div>
</div>

<!-- Path to Framework7 Library JS-->
<script type="text/javascript" src="js/framework7.min.js"></script>
<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/underscore-min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/moment.min.js"></script>
<script type="text/javascript" charset="utf-8" src="js/jstorage.js"></script>
<script type="text/javascript" charset="utf-8" src="js/pushFunctions.js"></script>
<script type="text/javascript" charset="utf-8" src="js/app.js"></script>
<!-- Path to your app js-->

<script type="text/javascript">
    app.initialize();
</script>

</body>
</html>