<ul class="list">

{{#each this}}
    <li>
        <div class="feed-icon aquatics">
            <i class="icon-group-fit"></i>
        </div>
        <div class="feed-content">
            <span class="event-title"><h3 class="aquatics">{{eventTitle}}</h3></span>
            <span class="event-time">{{eventTime}}</span>
            <span class="event-date">{{eventDate}}</span>

            {{#if pictureLink}}
                <span class="event-picture"><img src="{{{pictureLink}}}"></span>
            {{/if}}

            {{#if eventDescription}}
                <span class="event-description"><p>{{eventDescription}}</p></span>
            {{/if}}
            <span class="event-location">{{eventLocation}}</span>

        </div>
    </li>
{{/each}}
</ul>