<ul class="general-list list">
{{#each this}}
    <li class="{{eventCal}}" id="{{id}}" data-name="{{eventTitle}}" data-time="{{timeString}}">

    <div class="event-header">
        <span class="event-title {{eventCal}}">{{eventTitle}}</span>
        <span class="subscribe"><i class="icon ion-ios7-bell-outline {{#if isSaved}}alarm{{/if}}"></i></span>
    </div>

        <div class="feed-content">
            {{#if pictureLink}}
                <div class="event-picture"><img src="{{{pictureLink}}}" /></div>
            {{/if}}

            {{#if eventDescription}}
                <span class="event-description"><p>{{eventDescription}}</p></span>
            {{/if}}

                 {{#if eventLocation}}
                            <span class="event-location"><i class="icon ion-ios7-location"> </i> {{eventLocation}}</span>
                        {{/if}}
        </div>

        <div class="event-footer">




            <div class="date-time">
                        {{eventDay}}
                        <div class="event-time"> {{eventTime}}</div><br />
                        </div>
                <!--<span class="event-date"> {{eventDate}}</span>-->
        </div>

    </li>
{{/each}}
</ul>
