{{#each this}}
<li class="social" >
    <div class="post">

        {{#if instagram}}
            {{#if media}}
                <div class="social-media">
                    <img src='{{{media}}}' />
                </div>
            {{/if}}
        {{/if}}

        {{#if twitter}}
            {{#if media}}
                <div class="social-media">
                    <img src='{{{media}}}:medium' />
                </div>
            {{/if}}
        {{/if}}

        <div class="meta-author">
            <img src="{{{imageUrl}}}" alt="">

            {{#if instagram}}
                <a href="http://instagram.com/{{screen_name}}"><strong>{{name}}</strong><br>
                    <span>@{{screen_name}}</span></a>
            {{/if}}

            {{#if twitter}}
                <a href="http://twitter.com/{{screen_name}}"><strong>{{name}}</strong><br>
                    <span>@{{screen_name}}</span></a>
            {{/if}}

        </div>

        <div class="message">
            <p>
                {{{text}}}
            </p>
        </div>

        <span class="timestamp">{{created_at}}</span>
        {{#if instagram}}
            <span class="instagram-origin-badge"></span>
        {{/if}}
        {{#if twitter}}
            <span class="twitter-origin-badge"></span>
        {{/if}}
    </div>
</li>
{{/each}}